body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
	color: #222222;
	background: #cccccc;
	font-family: Roboto,Arial,Helvetica,sans-serif;
}

a { text-decoration: none; color: #3388cc; }
a:hover { text-decoration: underline; }

#toppage_main {
	margin: 2rem;
	padding: 2rem;
	background: #ffffff;
	line-height: 2rem;
	border: 1px solid #aaaaaa;
	box-shadow: 0px 0px 16px #aaaaaa;
}

.toppage_link {
	font-size: 1.2rem;
}

#toppage_title {
	font-size: 2rem;
	font-weight: bold;
}

#cr {
	text-align: right;
	font-weight: bold;
}

#toppage_main .githubsponsor iframe {
	width: 116px;
	height: 35px;
	border: none;
}
