body, tr, td, .twtxt { font-size: small; line-height: 16px; color: #222222; background: #cccccc; }
img { border: 0; }
a { text-decoration: none; color: #3388cc; }
a:hover { text-decoration: underline; }

.clear { clear: both; }

.main { margin-left: 4%; margin-right: 4%; background: #ffffff; }

.header {
	font-size: 32px;
	padding: 48px;
	text-shadow: -1px -1px 1px #444, 1px -1px 4px #222, 1px 1px 4px #222, -1px 1px 1px #444;
	background: url( '../images/topimage.png' ) #222222 no-repeat;
	height: 1px;
}
.header a { color: #ffffff; text-decoration: none; }
.header a:hover { text-decoration: none; background: none; }

.top { display: table; width: 100%; }

.lastmod { text-align: right; padding-right: 8px; display: table-cell; }

.menu { margin-left: 5%; margin-right: 5%; }

.menu ul li { margin-bottom: 4px; }
.menu ul li a { text-decoration: none; color: #222222; }
.menu ul li:hover { background: #3388cc; }

.contents { margin: 0px 8px 0px 8px; padding: 2px; }
.contents .title {
	font-size: medium; font-weight: bold; background: #222222; color: #ffffff; padding: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow: 2px 2px 8px #444444;
	-webkit-box-shadow: 2px 2px 8px #444444;
	box-shadow: 2px 2px 8px #444444;


	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
	background: -moz-linear-gradient(top, #444444, #222222 );
	text-shadow: -1px -1px 1px #000000;
}
.contents .text { padding: 16px 8px 0px 16px; }
.contents img { display: block; padding: 4px 0px 16px 24px;  }

.footer { border-top: 1px solid #222222; margin-top: 16px; padding: 4px; display: table; width: 100%; }

.cpr { display: table-cell; vertical-align: top; }
.gae { display: table-cell; text-align: right; }

.contents ul li { margin-top: 8px; }

.inf { font-size: x-small; }
