body {
	font-size: 14px;
}

.parts {
	position: absolute;
	z-index: 100;
}

.parts > div {
	display: flex;
	flex-direction: row;
}

.parts > div > div {
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	background: #c0c0c0;
}

.parts > div > div.p {
	visibility: visible;
}

.parts > div > div.p.bt {
	border-top: 1px solid;
}

.parts > div > div.p.br {
	border-right: 1px solid;
}

.parts > div > div.p.bb {
	border-bottom: 1px solid;
}

.parts > div > div.p.bl {
	border-left: 1px solid;
}

.parts > div > div.p.rtl {
	border-top-left-radius: 8px;
}

.parts > div > div.p.rtr {
	border-top-right-radius: 8px;
}

.parts > div > div.p.rbl {
	border-bottom-left-radius: 8px;
}

.parts > div > div.p.rbr {
	border-bottom-right-radius: 8px;
}

.parts > div > div.n {
	visibility: hidden;
}

#calendar {
	position: absolute;
	left: 64px;
	top: 64px;
}

#calendar > div {
	display: flex;
	flex-direction: row;
	height: 32px
}

#calendar > div > div.cp {
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	text-align: center;
	border: 1px #202020;
	border-style: none solid solid none;
}